*,
html {
    margin: 0;
    padding: 0;
}

.keseluruhan {
 
}
.edit-1{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
}
.container-navbar{
    background-color: rgb(121, 69, 185);
    width: 100%;
    height: 20vh;
    font-size: large;
    
}
.ul-navbar {
    text-decoration: none;
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}