*,
html {
    margin: 0;
    padding: 0;
}

.edit-anggota {
    font-size: 200%;
    text-decoration: none;
    background-color: rgb(219, 250, 217);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.edit-1 {
    text-decoration: none;
    font-size: 50;
    padding: 10%;
    border: 30px;
    margin: 30%;
}

.a-navbar{
    font-size: 30;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b-navbar{
    font-size: 30;
    display: flex;
    justify-content: center;
    align-items: center;
}